body
{
	background-color: #877c78;
	font-family: 'BioRhyme', serif;
	margin: 0px;
}
.clean
{
	clear: both;
}

 !-- 500x709-->
#container
{
	width: 100%;
	height: 100%;
}

#header
{
	text-align: center;
	letter-spacing: 5px;
	font-size: 40px;
	padding: 15px;
	height: 70px;
}

#content
{
	height: 440px;
	width: 100%;
}

#footer
{
	clear: both;
	font-size: 15px;
	text-align: center;
	height: 15px;
}

#few_tiles
{
	padding: 50px;
	float: left;
	width: *%;
	height: 440px;
	background-color: blue;
}

#tile_description
{
	float: left;
	width: 50%;
	height: 440px;
	background-color: white;
}

.tile1
{
	float: left;
	width: 200px;
	height: 200px;
	background-color: black;
}



